footer {
  background-color: #2c2c2c;
  padding-top: 58px;
}

.footer_logo {
  object-fit: contain;
  margin-bottom: 110px;
}

footer h3 {
  color: white;
  font-size: clamp(1rem, 0.5946rem + 0.4505vw, 1.3125rem);
  font-family: roboto_bold;
}

footer a {
  color: white;
  text-transform: none;
  letter-spacing: 0.3px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  max-width: 1300px;
  margin-inline: auto;
}

.footer_wrapper p {
  color: white;
  font-size: clamp(0.875rem, 0.5507rem + 0.3604vw, 1.125rem);
  max-width: 20ch;
  letter-spacing: 0.3px;
}

footer .footer_column a {
  font-size: clamp(0.875rem, 0.4696rem + 0.4505vw, 1.1875rem);
  transition: all 0.3s;
}

footer .footer_column a:hover {
  color: #c4c4c4;
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_icon_div {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon_wrapper {
  display: flex;
  gap: 40px;
}

.copyright {
  border-top: 0.4px solid #c4c4c4;
  width: 100%;
  max-width: unset;
  text-align: center;
  padding-block: 24px;
  color: #c4c4c4;
  font-size: 12px;
}
