@font-face {
  font-family: roboto_reg;
  src: url(../public/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto_light;
  src: url(../public/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto_bold;
  src: url(../public/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto_black;
  src: url(../public/fonts/Roboto/Roboto-Black.ttf);
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: roboto_reg;
}

:root {
  --black: #000000;
  --dark: #343434;
  --grey: #c4c4c4;
  --light-grey: #f2f2f2;
  --white: #ffffff;
  --bg: white;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  /* color-scheme: dark light; */
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: clamp(2.5rem, 2.0695rem + 2.1525vw, 5.5rem);
  font-family: roboto_bold;
  max-width: 10ch;
  line-height: 110%;
  color: var(--black);
}

h1 span {
  text-transform: uppercase;
  font-family: roboto_light;
  color: var(--grey);
}

h2 {
  color: var(--grey);
  font-size: clamp(2.5rem, 2.0695rem + 2.1525vw, 5.5rem);
  font-family: roboto_light;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
  color: var(--black);
  font-size: clamp(1rem, 0.5946rem + 0.4505vw, 1.3125rem);
}

/* smoth scroll-behavior for all sizes */
/* (for reference: https://tinyurl.com/simplyreset) */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    /* optional: lets a little bit of space after scroling to target
    & also prevents content from getting under a 'sticky' header. */
    /* scroll-padding-top: 3rem; */
  }
}

.container {
  width: 81%;
  margin-inline: auto;
}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 18px;
  width: fit-content;
  padding-block: 24px 24px;
  padding-left: 30px;
  width: 14vw;
  font-size: clamp(0.75rem, 0.5068rem + 0.2703vw, 0.9375rem);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  gap: 25px;
}

.bright {
  fill: var(--white);
}
